@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

/* body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

h1 {
    display: block;
    font-size: 2.5rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
  font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

.tab_1{
  tab-size: 4px;
  -o-tab-size: 4px;
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    html {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

.hideOnMobile {
  display: none;
}

.hideOnDesktop {
  display: block;
}

@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block;
  }

   .hideOnDesktop {
    display: none;
  }
}

.ant-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.items-center {
  display: flex;
  align-items: center;
}

.content_title {
  font-weight: 600;
  font-size: 22px;
}

.react-colorful {
  z-index: 1000 !important;
}

.react-colorful__pointer {
  width: 12px !important;
  height: 12px !important;
  border-radius: 12px !important;
}

.react-colorful__hue-pointer {
  width: 12px !important;
  height: 12px !important;
  border-radius: 12px !important;
}